@import '../../../styles/variables';

.navigation__elementsContainer {
  display: inline-block;
}

.navigation__item {
  list-style-type: none;
}

.nav__icon {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 20px;
  color: #ccc;
}

.navigation__link {
  color: $normalWhite;
  font-weight: 300;
  display: block;
  margin: 7px 15px;
}
