@import '../../../styles/variables';

.navigation__item {
  list-style-type: none;
  display: inline-block;
}

.nav__icon {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 20px;
  color: #ccc;
}

.navigation__link {
  color: $normalWhite;
  font-weight: 300;
  display: block;
  padding: 5px 10px;
}
