@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import './variables';

*, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $mainFont;
}

body {
  background-color: $backgroundColor;
}

a {
  color: $linkColor;
  text-decoration: none;
  cursor: pointer;
}
