@import '../../styles/variables';

.pet {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  color: #FFF;
  margin: 0 0 20px 0;

  &__info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  &__img {
    padding: 20px
  }

  &__wrapper {
    display: grid;
    background-color: $normalWhite;
    color: $normalBlack;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 10px;
  }
}

.abcd {
  background: blue;
}

.ghty {
  background: lightgray !important;
}
