.button {
  box-shadow: none;
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

.submit-btn {
  background-color: blue;
}

.button:disabled {
  opacity: .7;
}
