@import '../../styles/variables';

.nav {
  padding: 10px;
  background: $mainColor;
  display: grid;
  grid-template-columns: auto auto;
  &__right {
    justify-self: end;
  }
  &__icon {
    &__allItems {
      color: #FFF;
    }
    &__search {
      color: #FFF;
    }
  }
}
